
/* The entire section*/
.about-section{
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;  
}


h2, p {
    text-align: left;
}


/* The card in the section*/
.about-card{
    right: 2rem;
    align-content: center;
    display: flex;
    width: 65%;
}



.left-column{
    flex: 40%;
   padding-top:4rem;
   padding-left: 8rem;


}

.right-column{
    flex: 60%;

}

.bild1 {
    margin-right: 5px;
}



@media screen and (max-width: 1200px) {
    .main-conatiner{
        width: 95%;
    }
}

@media screen and (max-width: 800) {
    .intro-wrapper{
        grid-template-columns: 1fr;
        grid-template-areas: 
        'nav-wrapper'
        'left-column'
        'right-column';
    }
    .right-column{
        justify-content: center;
    }
}