.header{
    display: flex;
    background-color: var(--main-bg-color);
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    padding-left: 2rem;


}


.first-name, .surname {
  display: flex;
  margin-left: -6rem;
  padding-top: 2rem ;

}

.m{
  margin-top:-1.7rem;
}
.first-name {
  padding-left: 2rem;
}

.ia, .dybek {
  font-size: 60px;
  padding-top: 6rem;
}

.ia{
  margin-left: -5rem;
}

.dybek {
  margin-left: -7rem;
}


.profilepic{
  height: 15rem;
  width: 15rem;
  padding: 3rem;
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
}

.profilepic > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}


.photo {
  border-radius: 60%;
  height: 14.5rem;
  width: 14.5rem;
  z-index: 2;
}
  

.ball1 {
  background-color: var(--main-green-color);
  height: 14.5rem;
  width: 14.5rem;
  border-radius: 50%;
  z-index: 0;
}

.ball2 {
  background-color: black;
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  z-index: 0;
}





@media screen and (max-width: 915px) {
  .header{
    padding: 0 0 0 1rem;
  }
  .profilepic {
    padding-top: 4rem;
  }

  .photo, .profilepic, .ball1 {
    margin-bottom: 2rem;
    height: 10.5rem;
    width: 10.5rem;
  }

  .ball2{
    margin-bottom: 2rem;
    height: 11rem;
    width: 11rem;
  }

  .dybek, .ia {
    font-size: 50px;
  }
  .m{
    margin-right: 3.5rem;
   margin-left: 2rem;
    width: 200px;
    
  }
  .z{
    width: 180px;
    margin-left:3rem;

  }
  .dybek{
    padding-left:2rem;
  }


}


@media screen and (max-width: 700px) {
  .header{
    padding: 0 0 0 1rem;
  }
  .profilepic {
    padding-top: 4rem;
  }

  .photo, .profilepic, .ball1 {
    margin-bottom: 2rem;
    height: 10.5rem;
    width: 10.5rem;
  }

  .ball2{

    margin-bottom: 2rem;
    height: 11rem;
    width: 11rem;
  }

  .dybek, .ia {
    font-size: 50px;
  }
  .m{
    margin-right: 3.5rem;
   margin-left: 2rem;
    width: 150px;
    
  }
  .z{
    width: 140px;
    margin-left:3rem;

  }
  .dybek{
    padding-left:3rem;
  }


}





@media screen and (max-width: 600px) {
  .header{
    flex-direction: column;
    height: 26rem;
    width: screen;
    padding: 0 0 1rem 0;
    margin-top: -2rem;
    justify-content: center;
    align-items: center;


  }
  .profilepic{
    padding: 0;
  }

  .first-name, .surname{
    display: flex;
  }
  
  .first-name{
    margin-bottom: -2rem;

  }

  .surname{
    margin-top: -4rem;
    padding-left: 2.6rem;
  }
  .dybek, .ia {
    font-size: 40px;
  }

  .m{
    margin: 0;
    padding:0 0 0 1rem;
    height: 150px;
    
  }
  .z{
    height: 110px;
    padding: 0 0 0 1rem;
    margin: 0 -2.5rem 0 0;
  }

  .ia{
    padding-top:3rem;
    padding-left: 2.5rem;
  }
  .dybek{
    padding-top:1.5rem;
    padding-left: 6rem;
    

  }

}


