
.experience-section{
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;

}

.experience-card{
    width: 50%;
   
}

.intro-text{
    padding-bottom: 1rem;
}

.experience-list{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-left: 2rem;
}

h4, p{
    text-align: left;
}


.svea-pic, .ericsson-pic, .fortum-pic{
    width: 100px;
    margin: auto;
}

.svea1{
    grid-column: 1;
    grid-row: 1;
}

.svea2{
    grid-column: 1;
    grid-row: 2;
}

.fortum{
    grid-column: 1;
    grid-row: 3;
}

.ericsson{
    grid-column: 1;
    grid-row: 4;
}



.fortum-pic{
    grid-column: 2;
    grid-row: 3;
    
}
.ericsson-pic{
    grid-column: 2;
    grid-row: 4;
    
}
