
/* The entire section*/
.about-section{
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;  
}


h2, p {
    text-align: left;
}


/* The card in the section*/
.about-card{
    right: 2rem;
    align-content: center;
    display: flex;
    width: 65%;
}



.left-column{
    flex: 40%;
   padding-top:4rem;
   padding-left: 8rem;


}

.right-column{
    flex: 60%;
    padding-right: -2rem;

}

.bild1 {
    margin-right: 5px;
}



@media screen and (max-width: 1500px) {
    .left-column{
        padding-top:4rem;
        padding-left:0;
    }
    .about-card{
        width: 70%;
    }
}



@media screen and (max-width: 1300px) {
    .about-card{
        width: 80%;
    }
}

@media screen and (max-width: 1200px) {
    .about-card{
        width: 90%;
    }
}



@media screen and (max-width: 850px) {
    .about-card{
        flex-direction: column;
    
    }
    .left-column, .right-column{
        padding:0;
    }

}


@media screen and (max-width: 500px) {
    .about-card{
        width: 95%;
    }
    .bild3{
        width: 215px
    }

